<script>
	export let tailwindClass = ""
</script>
<div class="mx-auto flex items-center justify-start">
	<label for="add" class="m-3 text-3xl">Provide a tailwind class to div</label>
	<input id="add" class="m-3 border-2 focus:text-black text-indigo-600 border-indigo-600 rounded-full px-5 py-3" type="text" bind:value={tailwindClass}>
	<button on:click class="rounded-full text-indigo-600 text-sm duration-400 hover:bg-indigo-600 hover:text-white ring-indigo-600 border-indigo-600 ring-2 p-2">
		Add div with class "{tailwindClass}"
	</button>
</div>
