<script>
	import ComponentAdder from "./ComponentAdder.svelte"
	import Div from "./Div.svelte"
	let divs = []
	let uid = 0
	let newDiv = {
		classes: "",
		id: uid,
	}

	const addDiv = () => {
		console.log(newDiv.classes)
		divs = [...divs, newDiv];
		newDiv = {classes: "", id: ++uid}
	}
</script>
<div class="mx-auto items-center flex flex-col ">
<ComponentAdder bind:tailwindClass={newDiv.classes} on:click={addDiv} />


<div class="flex flex-col-reverse items-center justify-evenly">
	<p class="m-5 text-3xl font-bold">List of components</p>
	{#each divs as {classes, id} (id)}
		<Div classes={classes} />
	{/each}
</div>

</div>
